{
  "streams": [
    {
      "stream": "models",
      "tap_stream_id": "models",
      "schema": {
        "type": "object",
        "properties": {
          "id": {
            "type": ["null", "string"]
          },
          "object": {
            "type": ["null", "string"]
          },
          "created": {
            "type": ["null", "integer"]
          },
          "owned_by": {
            "type": ["null", "string"]
          }
        }
      },
      "metadata": [
        {
          "breadcrumb": [],
          "metadata": {
            "selected": true,
            "table-key-properties": ["id"],
            "forced-replication-method": "FULL_TABLE"
          }
        }
      ],
      "key_properties": ["id"],
      "replication_method": "FULL_TABLE"
    }
  ]
}
