version: 2.1

orbs:
  slack: circleci/slack@3.4.2

executors:
  docker-executor:
    docker:
      - image: 218546966473.dkr.ecr.us-east-1.amazonaws.com/circle-ci:stitch-tap-tester

jobs:
  build:
    executor: docker-executor
    steps:
      - run: echo 'CI done'
  ensure_env:
    executor: docker-executor
    steps:
      - checkout
      - run:
          name: 'Setup Virtual Env'
          command: |
            python3 -mvenv /usr/local/share/virtualenvs/tap-salesforce
            source /usr/local/share/virtualenvs/tap-salesforce/bin/activate
            pip install -U 'pip<19.2' 'setuptools<51.0.0'
            pip install .[dev]
      - slack/notify-on-failure:
          only_for_branches: master
      - persist_to_workspace:
          root: /usr/local/share/virtualenvs
          paths:
            - tap-salesforce
  run_pylint:
    executor: docker-executor
    steps:
      - checkout
      - attach_workspace:
          at: /usr/local/share/virtualenvs
      - run:
          name: 'Run pylint'
          command: |
            aws s3 cp s3://com-stitchdata-dev-deployment-assets/environments/tap-tester/tap_tester_sandbox dev_env.sh
            source dev_env.sh
            source /usr/local/share/virtualenvs/tap-salesforce/bin/activate
            pip install pylint
            echo "pylint will skip the following: $PYLINT_DISABLE_LIST"
            pylint tap_salesforce -d "$PYLINT_DISABLE_LIST,stop-iteration-return,logging-format-interpolation"
  run_unit_tests:
    executor: docker-executor
    steps:
      - checkout
      - attach_workspace:
          at: /usr/local/share/virtualenvs
      - run:
          name: 'Run Unit Tests'
          command: |
            source /usr/local/share/virtualenvs/tap-salesforce/bin/activate
            pip install nose coverage
            nosetests --with-coverage --cover-erase --cover-package=tap_salesforce --cover-html-dir=htmlcov tests/unittests
            coverage html
      - store_test_results:
          path: test_output/report.xml
      - store_artifacts:
          path: htmlcov
  integration_test:
    parameters:
      test_command:
        type: string
    executor: docker-executor
    steps:
      - checkout
      - attach_workspace:
          at: /usr/local/share/virtualenvs
      - run:
          name: 'Run Integration Tests'
          no_output_timeout: 1h
          command: |
            aws s3 cp s3://com-stitchdata-dev-deployment-assets/environments/tap-tester/tap_tester_sandbox dev_env.sh
            source dev_env.sh
            mkdir /tmp/${CIRCLE_PROJECT_REPONAME}
            export STITCH_CONFIG_DIR=/tmp/${CIRCLE_PROJECT_REPONAME}
            source /usr/local/share/virtualenvs/tap-tester/bin/activate
            << parameters.test_command >>
      - slack/notify-on-failure:
          only_for_branches: master
      - store_artifacts:
          path: /tmp/tap-salesforce

workflows:
  version: 2
  commit: &commit_jobs
    jobs:
      - ensure_env:
          context:
            - circleci-user
            - tier-1-tap-user
      - run_pylint:
          context:
            - circleci-user
            - tier-1-tap-user
          requires:
            - ensure_env
      - run_unit_tests:
          context:
            - circleci-user
            - tier-1-tap-user
          requires:
            - ensure_env
      - integration_test:
          name: "Discovery Test Bulk API"
          context:
            - circleci-user
            - tier-1-tap-user
          test_command: |-
            run-test --tap=${CIRCLE_PROJECT_REPONAME} tests/test_salesforce_discovery_bulk.py
          requires:
            - ensure_env
      - integration_test:
          name: "Discovery Test REST API"
          context:
            - circleci-user
            - tier-1-tap-user
          test_command: |-
            run-test --tap=${CIRCLE_PROJECT_REPONAME} tests/test_salesforce_discovery_rest.py
          requires:
            - ensure_env
      - integration_test:
          name: "Automatic Fields Test Bulk API"
          context:
            - circleci-user
            - tier-1-tap-user
          test_command: |-
            run-test --tap=${CIRCLE_PROJECT_REPONAME} tests/test_salesforce_automatic_fields_bulk.py
          requires:
            - ensure_env
      - integration_test:
          name: "Activate Version Messages test"
          context:
            - circleci-user
            - tier-1-tap-user
          test_command: |-
            run-test --tap=${CIRCLE_PROJECT_REPONAME} tests/test_salesforce_sync_canary.py
          requires:
            - ensure_env
      - integration_test:
          name: "All Fields Non Custom Fields Test"
          context:
            - circleci-user
            - tier-1-tap-user
          test_command: |-
            run-test --tap=${CIRCLE_PROJECT_REPONAME} tests/test_salesforce_all_fields_non_custom.py
          requires:
            - "Discovery Test Bulk API"
            - "Discovery Test REST API"
            - "Automatic Fields Test Bulk API"
            - "Activate Version Messages test"
      - integration_test:
          name: "Automatic Fields Test REST API"
          context:
            - circleci-user
            - tier-1-tap-user
          test_command: |-
            run-test --tap=${CIRCLE_PROJECT_REPONAME} tests/test_salesforce_automatic_fields_rest.py
          requires:
            - "Discovery Test Bulk API"
            - "Discovery Test REST API"
            - "Automatic Fields Test Bulk API"
            - "Activate Version Messages test"
      - integration_test:
          name: "All Fields Custom Fields Test"
          context:
            - circleci-user
            - tier-1-tap-user
          test_command: |-
            run-test --tap=${CIRCLE_PROJECT_REPONAME} tests/test_salesforce_all_fields_custom.py
          requires:
            - "Discovery Test Bulk API"
            - "Discovery Test REST API"
            - "Automatic Fields Test Bulk API"
            - "Activate Version Messages test"
      - build:
          context:
            - circleci-user
            - tier-1-tap-user
          requires:
            - run_pylint
  build_daily:
    <<: *commit_jobs
    triggers:
      - schedule:
          cron: "0 1 * * 6,0"
          filters:
            branches:
              only:
                - master
