version: 2.1
orbs:
  slack: circleci/slack@3.4.2

jobs:
  build:
    docker:
      - image: 218546966473.dkr.ecr.us-east-1.amazonaws.com/circle-ci:stitch-tap-tester
    steps:
      - checkout
      - run:
          name: 'Setup virtual env'
          command: |
            aws s3 cp s3://com-stitchdata-dev-deployment-assets/environments/tap-tester/tap_tester_sandbox dev_env.sh
            python3 -mvenv /usr/local/share/virtualenvs/tap-salesforce
            source /usr/local/share/virtualenvs/tap-salesforce/bin/activate
            pip install -U 'pip<19.2' 'setuptools<51.0.0'
            pip install .[dev]
      - add_ssh_keys
      - run:
          name: 'pylint'
          command: |
            source dev_env.sh
            source /usr/local/share/virtualenvs/tap-salesforce/bin/activate
            pip install pylint
            pylint tap_salesforce -d "$PYLINT_DISABLE_LIST,stop-iteration-return"
      - run:
          when: always
          name: 'Integration Tests'
          command: |
            source dev_env.sh
            source /usr/local/share/virtualenvs/tap-tester/bin/activate
            run-test --tap=tap-salesforce tests
      - slack/notify-on-failure:
          only_for_branches: master

workflows:
  version: 2
  commit:
    jobs:
      - build:
          context: circleci-user
  build_daily:
    triggers:
      - schedule:
          cron: "0 6 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build:
          context: circleci-user
