version: 2
jobs:
  build:
    docker:
      - image: 218546966473.dkr.ecr.us-east-1.amazonaws.com/circle-ci:tap-tester
    steps:
      - checkout
      - run:
          name: 'Setup virtual env'
          command: |
            virtualenv -p python3 ~/.virtualenvs/tap-salesforce
            source ~/.virtualenvs/tap-salesforce/bin/activate
            pip install .
            pip install pylint
            pylint tap_salesforce -d missing-docstring,invalid-name,line-too-long,too-many-locals,too-few-public-methods,fixme,stop-iteration-return
      - run:
          name: 'Unit Tests'
          command: |
            source ~/.virtualenvs/tap-salesforce/bin/activate
            pip install nose
            nosetests
      - add_ssh_keys
      - run:
          name: 'Integration Tests'
          command: |
            aws s3 cp s3://com-stitchdata-dev-deployment-assets/environments/tap-tester/sandbox dev_env.sh
            source dev_env.sh
            source ~/.virtualenvs/tap-tester/bin/activate
            run-a-test --tap=tap-salesforce \
                       --target=target-stitch \
                       --orchestrator=stitch-orchestrator \
                       --email=kyle+test8@stitchdata.com \
                       --password=$SANDBOX_PASSWORD \
                       --client-id=38 \
                       tap_tester.suites.salesforce
