version: 2.1

orbs:
  slack: circleci/slack@3.4.2

executors:
  docker-executor:
    docker:
      - image: 218546966473.dkr.ecr.us-east-1.amazonaws.com/circle-ci:stitch-tap-tester-uv

jobs:
  build:
    executor: docker-executor
    steps:
      - run: echo 'CI done'
  ensure_env:
    executor: docker-executor
    steps:
      - checkout
      - run:
          name: 'Setup Virtual Env'
          command: |
            uv venv --python 3.12  /usr/local/share/virtualenvs/tap-salesforce
            source /usr/local/share/virtualenvs/tap-salesforce/bin/activate
            uv pip install -U 'pip<19.2' 'setuptools<51.0.0'
            uv pip install .[dev]
            uv pip install --upgrade awscli
            aws s3 cp s3://com-stitchdata-dev-deployment-assets/environments/tap-tester/tap_tester_sandbox /usr/local/share/virtualenvs/tap-salesforce/dev_env.sh
      - slack/notify-on-failure:
          only_for_branches: master
      - persist_to_workspace:
          root: /
          paths:
            - root/.local/share/uv/python
            - usr/local/share/virtualenvs/tap-salesforce
  run_pylint:
    executor: docker-executor
    steps:
      - checkout
      - attach_workspace:
          at: /
      - run:
          name: 'Run pylint'
          command: |
            source /usr/local/share/virtualenvs/tap-salesforce/bin/activate
            source /usr/local/share/virtualenvs/tap-salesforce/dev_env.sh
            uv pip install pylint
            echo "pylint will skip the following: $PYLINT_DISABLE_LIST"
            pylint tap_salesforce -d "$PYLINT_DISABLE_LIST,stop-iteration-return,logging-format-interpolation"
  run_unit_tests:
    executor: docker-executor
    steps:
      - checkout
      - attach_workspace:
          at: /
      - run:
          name: 'Run Unit Tests'
          command: |
            source /usr/local/share/virtualenvs/tap-salesforce/bin/activate
            uv pip install pytest coverage
            coverage run -m pytest tests/unittests
            coverage html
      - store_test_results:
          path: test_output/report.xml
      - store_artifacts:
          path: htmlcov
  integration_test:
    parameters:
      test_command:
        type: string
    executor: docker-executor
    steps:
      - checkout
      - attach_workspace:
          at: /
      - run:
          name: 'Run Integration Tests'
          no_output_timeout: 1h
          command: |
            source /usr/local/share/virtualenvs/tap-salesforce/dev_env.sh
            mkdir /tmp/${CIRCLE_PROJECT_REPONAME}
            export STITCH_CONFIG_DIR=/tmp/${CIRCLE_PROJECT_REPONAME}
            source /usr/local/share/virtualenvs/tap-tester/bin/activate
            << parameters.test_command >>
      - slack/notify-on-failure:
          only_for_branches: master
      - store_artifacts:
          path: /tmp/tap-salesforce

workflows:
  version: 2
  commit: &commit_jobs
    jobs:
      - ensure_env:
          context:
            - circleci-user
            - tier-1-tap-user
      - run_pylint:
          context:
            - circleci-user
            - tier-1-tap-user
          requires:
            - ensure_env
      - run_unit_tests:
          context:
            - circleci-user
            - tier-1-tap-user
          requires:
            - ensure_env
      # - integration_test:
      #     name: "Discovery Test Bulk API"
      #     context:
      #       - circleci-user
      #       - tier-1-tap-user
      #     test_command: |-
      #       run-test --tap=${CIRCLE_PROJECT_REPONAME} tests/test_salesforce_discovery_bulk.py
      #     requires:
      #       - ensure_env
      # - integration_test:
      #     name: "Discovery Test REST API"
      #     context:
      #       - circleci-user
      #       - tier-1-tap-user
      #     test_command: |-
      #       run-test --tap=${CIRCLE_PROJECT_REPONAME} tests/test_salesforce_discovery_rest.py
      #     requires:
      #       - ensure_env
      # - integration_test:
      #     name: "Automatic Fields Test Bulk API"
      #     context:
      #       - circleci-user
      #       - tier-1-tap-user
      #     test_command: |-
      #       run-test --tap=${CIRCLE_PROJECT_REPONAME} tests/test_salesforce_automatic_fields_bulk.py
      #     requires:
      #       - ensure_env
      # - integration_test:
      #     name: "All Fields Non Custom Fields Test"
      #     context:
      #       - circleci-user
      #       - tier-1-tap-user
      #     test_command: |-
      #       run-test --tap=${CIRCLE_PROJECT_REPONAME} tests/test_salesforce_all_fields_non_custom.py
      #     requires:
      #       - "Discovery Test Bulk API"
      # - integration_test:
      #     name: "Automatic Fields Test REST API"
      #     context:
      #       - circleci-user
      #       - tier-1-tap-user
      #     test_command: |-
      #       run-test --tap=${CIRCLE_PROJECT_REPONAME} tests/test_salesforce_automatic_fields_rest.py
      #     requires:
      #       - "Discovery Test REST API"
      # - integration_test:
      #     name: "All Fields Custom Fields Test"
      #     context:
      #       - circleci-user
      #       - tier-1-tap-user
      #     test_command: |-
      #       run-test --tap=${CIRCLE_PROJECT_REPONAME} tests/test_salesforce_all_fields_custom.py
      #     requires:
      #       - "Automatic Fields Test Bulk API"
      # - integration_test:
      #     name: "Full table Replication"
      #     context:
      #       - circleci-user
      #       - tier-1-tap-user
      #     test_command: |-
      #       run-test --tap=${CIRCLE_PROJECT_REPONAME} tests/test_salesforce_full_table_replication.py
      #     requires:
      #       - "All Fields Non Custom Fields Test"
      # - integration_test:
      #     name: "Bookmark Test"
      #     context:
      #       - circleci-user
      #       - tier-1-tap-user
      #     test_command: |-
      #       run-test --tap=${CIRCLE_PROJECT_REPONAME} tests/test_salesforce_bookmarks.py
      #     requires:
      #       - "Automatic Fields Test REST API"
      # - integration_test:
      #     name: "Custom Object Rest API"
      #     context:
      #       - circleci-user
      #       - tier-1-tap-user
      #     test_command: |-
      #       run-test --tap=${CIRCLE_PROJECT_REPONAME} tests/test_custom_objects_rest.py
      #     requires:
      #       - "All Fields Custom Fields Test"
      # - integration_test:
      #     name: "Lookback Window Test"
      #     context:
      #       - circleci-user
      #       - tier-1-tap-user
      #     test_command: |-
      #       run-test --tap=${CIRCLE_PROJECT_REPONAME} tests/test_salesforce_lookback_window.py
      #     requires:
      #       - "Full table Replication"
      # - integration_test:
      #     name: "Select By Default Test"
      #     context:
      #       - circleci-user
      #       - tier-1-tap-user
      #     test_command: |-
      #       run-test --tap=${CIRCLE_PROJECT_REPONAME} tests/test_salesforce_select_by_default.py
      #     requires:
      #       - "Bookmark Test"
      # - integration_test:
      #     name: "Switch Replication Method Test"
      #     context:
      #       - circleci-user
      #       - tier-1-tap-user
      #     test_command: |-
      #       run-test --tap=${CIRCLE_PROJECT_REPONAME} tests/test_salesforce_switch_rep_method_ft_incrmntl.py
      #     requires:
      #       - "Custom Object Rest API"
      # - integration_test:
      #     name: "Api Total Quota Test"
      #     context:
      #       - circleci-user
      #       - tier-1-tap-user
      #     test_command: |-
      #       run-test --tap=${CIRCLE_PROJECT_REPONAME} tests/test_salesforce_api_total_quota.py
      #     requires:
      #       - "Lookback Window Test"
      # - integration_test:
      #     name: "Custom Object Bulk API"
      #     context:
      #       - circleci-user
      #       - tier-1-tap-user
      #     test_command: |-
      #       run-test --tap=${CIRCLE_PROJECT_REPONAME} tests/test_custom_objects_bulk.py
      #     requires:
      #       - "Select By Default Test"
      # - integration_test:
      #     name: "Incremental Table Reset Test"
      #     context:
      #       - circleci-user
      #       - tier-1-tap-user
      #     test_command: |-
      #       run-test --tap=${CIRCLE_PROJECT_REPONAME} tests/test_salesforce_incremental_table_reset.py
      #     requires:
      #       - "Switch Replication Method Test"
      # - integration_test:
      #     name: "Api Per Run Total Quota Test"
      #     context:
      #       - circleci-user
      #       - tier-1-tap-user
      #     test_command: |-
      #       run-test --tap=${CIRCLE_PROJECT_REPONAME} tests/test_salesforce_api_per_run_quota.py
      #     requires:
      #       - "Api Total Quota Test"
      # - integration_test:
      #     name: "All Fields Non Custom Fields Rest Test"
      #     context:
      #       - circleci-user
      #       - tier-1-tap-user
      #     test_command: |-
      #       run-test --tap=${CIRCLE_PROJECT_REPONAME} tests/test_salesforce_all_fields_non_custom_rest.py
      #     requires:
      #       - "Custom Object Bulk API"
      - integration_test:
          name: "All Fields Custom Fields Rest Test"
          context:
            - circleci-user
            - tier-1-tap-user
          test_command: |-
            run-test --tap=${CIRCLE_PROJECT_REPONAME} tests/test_salesforce_all_fields_custom_rest.py

      # - integration_test:
      #     name: "Activate Version Messages Test"
      #     context:
      #       - circleci-user
      #       - tier-1-tap-user
      #     test_command: |-
      #       run-test --tap=${CIRCLE_PROJECT_REPONAME} tests/test_salesforce_activate_version_messages.py
      #     requires:
      #       - "Api Per Run Total Quota Test"
      # - integration_test:
      #     name: "Start Date Test"
      #     context:
      #       - circleci-user
      #       - tier-1-tap-user
      #     test_command: |-
      #       run-test --tap=${CIRCLE_PROJECT_REPONAME} tests/test_salesforce_start_date.py
      #     requires:
      #       - "Api Per Run Total Quota Test"
      # - integration_test:
      #     name: "Switch Replication Method(Incremental) Test"
      #     context:
      #       - circleci-user
      #       - tier-1-tap-user
      #     test_command: |-
      #       run-test --tap=${CIRCLE_PROJECT_REPONAME} tests/test_salesforce_switch_rep_method_incrmntl_ft.py
      #     requires:
      #       -  "All Fields Non Custom Fields Test"
      # - integration_test:
      #     name: "Sync Canary Test"
      #     context:
      #       - circleci-user
      #       - tier-1-tap-user
      #     test_command: |-
      #       run-test --tap=${CIRCLE_PROJECT_REPONAME} tests/test_salesforce_sync_canary.py
      #     requires:
      #       - "All Fields Custom Fields Test"
      - build:
          context:
            - circleci-user
            - tier-1-tap-user
          requires:
            - run_pylint
  build_daily:
    <<: *commit_jobs
    triggers:
      - schedule:
          cron: "0 1 * * 6,0"
          filters:
            branches:
              only:
                - master
